## Testing

In [1]:
# importing the modules for the application

# module for loading data 
import Loading_dataset

#module for user-interface and menu
import Tui

# module for function of data retriever
import Data_retriever

# module for functions of data analysis
import Data_analysis

# module for the visualization of insight
import Data_visualization


# running the application
def run_application():
    
    Tui.main_menu()
    
    
run_application()

Welcome to PhoneDB!
Brief Background
PhoneDB website is your go-to information hub for smartphones, tablets, PDAs, and mobile devices.
Our platform offers a comprehensive collection of data and various services to help you find the most suitable mobile device.

Thank you for choosing PhoneDB! Let's explore the world of mobile devices together.
What is your name? wgw

Yes, WGW, let's get to work.

Please select a section:
A. Work with a CSV file
B. Work with a Pandas file
C. Visualize using the pandas data
Enter the section (A-C): a

Please select an operation:
1. Load the data from a CSV file
2. Get some details on an individual device by oem_id
3. Get details of all devices for a specified code name
4. Get details of all devices for a specified RAM capacity
5. Get details of all devices for a specified brand, category, and price range
Enter your choice (1-5): 1
Option 1 selected.
Enter the file location: device_features.csv

Fetching data...
Successfully loaded the device_features.csv dataset.
Do you want to perform another operation in section A? (yes/no): no
Returning to the main menu...
Do you want to return to the main menu or exit the program? (menu/exit): menu

Please select a section:
A. Work with a CSV file
B. Work with a Pandas file
C. Visualize using the pandas data
Enter the section (A-C): b

Please select an operation:
5. Load your data from a CSV file into a pandas DataFrame
6. Get the top 5 regions a brand is sold
7. Get the average price of devices for a brand in a particular or all currencies
8. Get the average mass of the device for each manufacturer
9. Get the recommendation from the top 5 cheap devices with a price performance ratio
Enter your choice (5-9): 5
Option 5 selected.

Fetching data...
Successfully loaded the device_features.csv pandas dataset.
Do you want to perform another operation in section B? (yes/no): yes

Please select an operation:
5. Load your data from a CSV file into a pandas DataFrame
6. Get the top 5 regions a brand is sold
7. Get the average price of devices for a brand in a particular or all currencies
8. Get the average mass of the device for each manufacturer
9. Get the recommendation from the top 5 cheap devices with a price performance ratio
Enter your choice (5-9): 7
Option 7 selected.
The device brand names in this dataset are:
 Samsung, Motorola, Xiaomi, Nokia, Sony, Asus, Lenovo, T-Mobile, BBK, Apple, ZTE, Microsoft, LG, Sharp
Enter the brand (or 'all' for all brands): samsung
These are the currencies you can choose from:
 USD, JPY, MXN, BRL, EUR, INR, GBP, CNY, TWD, THB, CAD, SGD, IDR, AED, TRY, MYR, HKD, AUD, KRW, CHF, ARS, KZT, HUF, PLN, RUB
Enter the currency (or 'all' for all currencies): all
      brand price_currency       price
0   Samsung            AED     1049.00
1   Samsung            AUD     1234.00
2   Samsung            BRL     1827.57
3   Samsung            CAD     1454.94
4   Samsung            CNY     9277.12
5   Samsung            EUR      889.77
6   Samsung            GBP      715.00
7   Samsung            HKD     8848.10
8   Samsung            HUF   101946.67
9   Samsung            IDR  6943444.44
10  Samsung            INR    82213.88
11  Samsung            JPY   146787.40
12  Samsung            KRW  1202600.00
13  Samsung            MXN     9010.36
14  Samsung            MYR     1974.00
15  Samsung            PLN     1724.00
16  Samsung            RUB    21900.00
17  Samsung            SGD      598.00
18  Samsung            TRY     6999.00
19  Samsung            TWD    21426.81
Enter 'next' to retrieve the next 20 rows, or 'quit' to exit: next
      brand price_currency    price
20  Samsung            USD  1016.13
No more rows available.
Would you like to calculate for another brand/currency (yes/no)? yes
The device brand names in this dataset are:
 Samsung, Motorola, Xiaomi, Nokia, Sony, Asus, Lenovo, T-Mobile, BBK, Apple, ZTE, Microsoft, LG, Sharp
Enter the brand (or 'all' for all brands): all
These are the currencies you can choose from:
 USD, JPY, MXN, BRL, EUR, INR, GBP, CNY, TWD, THB, CAD, SGD, IDR, AED, TRY, MYR, HKD, AUD, KRW, CHF, ARS, KZT, HUF, PLN, RUB
Enter the currency (or 'all' for all currencies): usd
        brand price_currency    price
0       Apple            USD   986.19
1        Asus            USD  1006.99
2          LG            USD   187.50
3      Lenovo            USD   209.99
4   Microsoft            USD  1549.99
5    Motorola            USD   425.49
6       Nokia            USD   231.81
7     Samsung            USD  1016.13
8        Sony            USD  1799.99
9    T-Mobile            USD   194.99
10     Xiaomi            USD   479.00
11        ZTE            USD   749.00
No more rows available.
Would you like to calculate for another brand/currency (yes/no)? no
Do you want to perform another operation in section B? (yes/no): no
Returning to the main menu...
Do you want to return to the main menu or exit the program? (menu/exit): exit
Exiting...
Exited